@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

$Orange500: hsl(25, 97%, 53%);

$White: hsl(0, 100%, 100%);
$Grey500: hsl(217, 12%, 63%);
$Grey900: hsl(213, 19%, 18%);
$Grey950: hsl(216, 12%, 8%);

div {
  color: hsl(215, 20%, 17%);
  color: hsl(215, 27%, 12%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Grey950;
  color: $Grey500;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  padding: 1rem;
}
main {
  width: #{min(100%, 440px)};
  background-color: $Grey900;
  background-image: radial-gradient(
    ellipse at top,
    rgba($Grey500, 0.2) 1%,
    $Grey900 100%
  );
  padding: 2rem;
  border-radius: 1rem;
  section {
    display: grid;
    gap: 1rem;
    h1,
    h2 {
      font-size: #{clamp(1.5rem, 5vw, 2rem)};
      color: $White;
      font-weight: 700;
    }
    p {
      line-height: 1.5;
    }
  }
}

#rating-form {
  .image {
    width: 45px;
    aspect-ratio: 1/1;
    background-color: rgba($Grey500, 0.1);
    background-image: url("/images/icon-star.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  #form {
    .radio {
      display: flex;
      justify-content: space-between;
      align-items: center;
      label {
        display: inline-block;
        background-color: rgba($Grey500, 0.1);
        border-radius: 50%;
        width: 45px;
        aspect-ratio: 1/1;
        font-size: 0.95rem;
        font-weight: 700;
        text-align: center;
        line-height: 45px;
        color: $Grey500;
        cursor: pointer;
        &:hover {
          background-color: $Orange500;
          color: $Grey950;
        }
      }
      input {
        display: none;
      }
      input:checked + label {
        background-color: $White;
        color: $Grey950;
      }
    }
    #submit {
      width: 100%;
      height: 45px;
      margin-top: 1.5rem;
      background-color: $Orange500;
      color: $Grey950;
      border: none;
      border-radius: 45px;
      font-family: inherit;
      font-size: 0.95rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1;
      cursor: pointer;
      &:active {
        background-color: $White;
      }
    }
  }
}

#thank-you {
  display: none;
  justify-items: center;

  p.rate {
    background-color: rgba($Grey500, 0.1);
    padding: 10px 15px;
    line-height: 1;
    border-radius: 35px;
    color: $Orange500;
  }
  p {
    text-align: center;
  }
}
